{# src/OAH/NewsBundle/Resources/views/News/formulaire.html.twig #}

<h3>Formulaire d'ajout/modification de news</h3>

<{# src/OC/PlatformBundle/Resources/views/Article/formulaire.html.twig #}

<h3>Formulaire d'annonce</h3>

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.titre, "Titre de l'annonce", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.titre) }}

      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    {# Idem pour un autre champ. #}
    <div class="form-group">
      {{ form_label(form.contenu, "Contenu de l'annonce", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.contenu) }}
      <div class="col-sm-4">
        {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.date, "Date", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.date) }}
      <div class="col-sm-4">
        {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.auteur, "Auteur", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.auteur) }}
      <div class="col-sm-4">
        {{ form_widget(form.auteur, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

   

  {# Génération du label + error + widget pour un champ #}
  {{ form_row(form.date) }}

  {{ form_row(form.auteur) }}

  
  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}

  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>

