{# src/OAH/NewsBundle/resources/views/News/index.html.twig #}

{% extends "OAHNewsBundle::OAH_layout.html.twig" %}

{% block title %} {{ parent() }} - Index{% endblock %}

{% block body_news %}

	{% for article in listArticles %}
	<div class="article_des_news">

		<div class="row">

  		    <div class="col-sm-3">
  				<a href="{{path('OAHNews_voir', {'slugarticle':article.slugarticle})}}"><img src='{{ asset(article.image.webPath) }}' alt="{{ article.image.alt}}"/></a>
 		    </div>

 		    <div class="col-sm-9">
				<a class="titre_article" href="{{path('OAHNews_voir', {'slugarticle':article.slugarticle})}}">{{article.titre}}
				</a>
			  		<p><i class="glyphicon glyphicon-pencil"></i> par {{article.auteur}},
			   		   <i class="glyphicon glyphicon-time"> </i> {{article.date|date('d/m/y')}}
						{% if not article.categories.empty %} 
						<i class="glyphicon glyphicon-tag"> </i>
							{% for categorie in article.categories %}
      							{{ categorie.nom }}{% if not loop.last %}, {% endif %}
    						{% endfor %}
    					{% endif %}
    		  		</p>
    			{{ article.contenu|truncate(100, false, "...")}}	
		    </div>

		</div>
	</div>
	{% endfor %}


<ul class="pagination pull-right">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path('OAHNews_accueil', {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}
</ul>

{% endblock %}