{# src/OAH/NewsBundle/Resources/views/News/supprimer.html.twig #}

{% extends "OAHNewsBundle::OAH_layout.html.twig" %}

{% block title %}
	Supprimer un article - {{ parent() }}
{% endblock %}

{% block body_news %}

<h2>Supprimer une news</h2>

<h2>{{ article.titre }}</h2>
<i>Par {{ article.auteur }}, le {{ article.date|date('d/m/y') }}</i>

<div class="well">
	{{ article.contenu }}
</div>



<<p>
    Etes-vous certain de vouloir supprimer l'annonce "{{ article.titre }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('OAHNews_supprimer', {'slugarticle': article.slugarticle}) }}" method="post">
    <a href="{{ path('OAHNews_voir', {'slugarticle': article.slugarticle}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}
