{# src/OAH/NewsBundle/Resources/views/News/voir.html.twig #}

{% extends 'OAHNewsBundle::OAH_layout.html.twig' %}

{% block title %}

{% endblock %}

{% block body_news %}


{% if article.image is not null %}
 <h2>	
	<img src='{{ asset(article.image.webPath) }}' alt="{{ article.image.alt}}"/>
{% endif %}

	{{ article.titre }} </h2
<i>Par {{ article.auteur }}, le {{ article.date|date('d/m/y') }}</i>

<div class="well">
	{{ article.contenu }}
</div>

<p>
	<a href="{{ path('OAHNews_accueil')}}" class="btn btn-default">
		<i class="glyphicon glyphicon-chevron-left"></i>
		Retour aux news
	</a>
	<a href="{{ path('OAHNews_modifier',{'id':article.id})}}" class="btn btn-default">
		<i class="glyphicon glyphicon-edit"></i>
		Modifier l'article
	</a>
	<a href="{{ path('OAHNews_supprimer',{'id':article.id})}}" class="btn btn-danger">
		<i class="glyphicon glyphicon-trash"></i>
		Supprimer l'article
	</a>
</p>

{% endblock %}
	