{# src/OAH/NewsBundle/Resources/views/News/voir.html.twig #}

{% extends "OAHNewsBundle::OAH_layout.html.twig" %}

{% block title %}

{% endblock %}

{% block body_news %}

<div class="article">

{% if article.image is not null %}
	<img src='{{ asset(article.image.webPath) }}' alt="{{ article.image.alt}}"/>
{% endif %}

	<h2>	{{ article.titre }} </h2
		<p class="auteur"><i class="glyphicon glyphicon-pencil"></i> Par {{ article.auteur }}, <i class="glyphicon glyphicon-time"> </i> {{ article.date|date('d/m/y') }}</p>

	<div class="">
		{{ article.contenu | raw }}
	</div>

</div>

<p>
	<a href="{{ path('OAHNews_accueil')}}" class="btn btn-default">
		<i class="glyphicon glyphicon-chevron-left"></i>
		Retour aux news
	</a>
	{% if is_granted('ROLE_USER') %}
	<a href="{{ path('OAHNews_modifier',{'slugarticle':article.slugarticle})}}" class="btn btn-default">
		<i class="glyphicon glyphicon-edit"></i>
		Modifier l'article
	</a>
	<a href="{{ path('OAHNews_supprimer',{'slugarticle':article.slugarticle})}}" class="btn btn-danger">
		<i class="glyphicon glyphicon-trash"></i>
		Supprimer l'article
	</a>
	{% endif %}
</p>

{% endblock %}
	