{% extends "OAHCoreBundle:Core:layout.html.twig" %}
		

		{% block subtitle %}
		<span class="subheading">La presse en parle</span>
		{% endblock %}

		{% block accueil %}<a class="navbar-brand" href="{{path('oah_core_homepage')}}">Accueil</a>{% endblock %}

		{% block navigation %}
		{% endblock %}

	
		{% block body %}
		<div class="container presse">	

			<div class="row blocblanc">
				<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12 ">
					<h2>Cergy WebTV (19/10/2015) :</h2>
					<video controls poster="{{asset('img/poster_presse.png')}}" >
						<source src="{{asset('videos/OpticAtHome.mp4')}}">
						<source src="{{asset('videos/OpticAtHome.ogv')}}">
						<source src="{{asset('videos/OpticAtHome.webm')}}">
					</video>
				</div>
			</div>

			<div class="row">	
				<div class="col-md-6 col-sm-12">
					<h2>La gazette du Val-d'Oise (28/10/2015) :</h2>
					<img src={{asset('img/gazette.jpg')}} alt="la gazette du Val-d'Oise">
				</div>
				<div class="col-md-6 col-sm-12">
					<h2>Le journal de la ville de Cergy (10/2015) :</h2>
					<img src={{asset('img/journalcergy.jpg')}} alt="le journal de Cergy">
				</div>
			</div>
		</div>


		{% endblock %}